<ol class="">
    {{#each park as |park|}}
    <li>
        <article class="park">
            <div class="title">
                <a href="/park/{{id}}">{{park_name}}</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>

