<form class="login-form">
  <div class="mb-3">
    <label for="email-login" class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      id="email-login"
      placeholder="Please enter account email"
    />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input
      type="text"
      class="form-control"
      id="password-login"
      placeholder="Please enter account password"
    />
  </div>
  <div>
     <button type="submit">Login</button>

</form>


<form class="signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username-signup"
      placeholder="Please create username"
    />
  </div>
  <div class="mb-3">
    <label for="dogname-signup" class="form-label">Dog name</label>
    <input
      type="text"
      class="form-control"
      id="dogname-signup"
      placeholder="What is your dog's name"
    />
  </div>
  <div class="mb-3">
    <label for="dogbreed-signup" class="form-label">Dog breed</label>
    <input
      type="text"
      class="form-control"
      id="dogbreed-signup"
      placeholder="What breed is your dog"
    />
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      id="email-signup"
      placeholder="Please enter email address"
    />
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password</label>
    <input
      type="text"
      class="form-control"
      id="password-signup"
      placeholder="Please create password"
    />
  </div>
  <div>
    <button type="submit">Sign Up</button>

  </div>
</form>

<script src="/javascript/login.js"></script>