body,
html {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: oldlace;
  padding: 1% 0;
  font-size: 1.2em;
}

.navbar-brand {
  min-height: 55px;
  padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
  color: maroon;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active {
  color: black;
}

#home {
  background-color: black;
  /* background: url(./images/hero_crop.jpeg) no-repeat center center fixed; */
  /* background: url(./images/hero_crop.jpeg) no-repeat center center fixed; */

  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  opacity: 0.6;
  background-color: black;
}
.heading {
  text-align: center;
  font-size: 28px;
  padding: 20px;
}

.padding {
  padding: 50px 0;
}

.padding img {
  width: 100%;
}

footer {
  width: 100%;
  background-color: oldlace;
  padding: 10px;
}
.fab {
  font-size: 20px;
  padding: 5px 5px;
  color: black;
}
.fab:hover {
  color: blue;
}
